@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Kode+Mono:wght@400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/*

https://leonardocolor.io/theme.html?name=Plainframe+light&config=%7B%22baseScale%22%3A%22plainframe-color-neutral-%22%2C%22colorScales%22%3A%5B%7B%22name%22%3A%22plainframe-color-neutral-%22%2C%22colorKeys%22%3A%5B%22%235a5f66%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%221.05%22%2C%221.1%22%2C%221.3%22%2C%221.53%22%2C%221.86%22%2C%222.3%22%2C%224.5%22%2C%226.5%22%2C%229.3%22%2C%2213.2%22%2C%2217.2%22%2C%2219%22%2C%2220%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22plainframe-color-tinted-%22%2C%22colorKeys%22%3A%5B%22%23737a82%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%221.05%22%2C%221.1%22%2C%221.3%22%2C%221.53%22%2C%221.86%22%2C%222.3%22%2C%224.5%22%2C%226.5%22%2C%229.3%22%2C%2213.2%22%2C%2217.2%22%2C%2219%22%2C%2220%22%5D%2C%22smooth%22%3Atrue%7D%2C%7B%22name%22%3A%22plainframe-color-primary-%22%2C%22colorKeys%22%3A%5B%22%235fb3ff%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%221.05%22%2C%221.1%22%2C%221.3%22%2C%221.53%22%2C%221.86%22%2C%222.3%22%2C%224.5%22%2C%226.5%22%2C%229.3%22%2C%2213.2%22%2C%2217.2%22%2C%2219%22%2C%2220%22%5D%2C%22smooth%22%3Atrue%7D%2C%7B%22name%22%3A%22plainframe-color-secondary-%22%2C%22colorKeys%22%3A%5B%22%238fafd1%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%221.05%22%2C%221.1%22%2C%221.3%22%2C%221.53%22%2C%221.86%22%2C%222.3%22%2C%224.5%22%2C%226.5%22%2C%229.3%22%2C%2213.2%22%2C%2217.2%22%2C%2219%22%2C%2220%22%5D%2C%22smooth%22%3Atrue%7D%2C%7B%22name%22%3A%22plainframe-color-critical-%22%2C%22colorKeys%22%3A%5B%22%23ff5f5f%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%221.05%22%2C%221.1%22%2C%221.3%22%2C%221.53%22%2C%221.86%22%2C%222.3%22%2C%224.5%22%2C%226.5%22%2C%229.3%22%2C%2213.2%22%2C%2217.2%22%2C%2219%22%2C%2220%22%5D%2C%22smooth%22%3Atrue%7D%2C%7B%22name%22%3A%22plainframe-color-caution-%22%2C%22colorKeys%22%3A%5B%22%23ffaf3f%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%221.05%22%2C%221.1%22%2C%221.3%22%2C%221.53%22%2C%221.86%22%2C%222.3%22%2C%224.5%22%2C%226.5%22%2C%229.3%22%2C%2213.2%22%2C%2217.2%22%2C%2219%22%2C%2220%22%5D%2C%22smooth%22%3Atrue%7D%2C%7B%22name%22%3A%22plainframe-color-info-%22%2C%22colorKeys%22%3A%5B%22%235f9dff%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%221.05%22%2C%221.1%22%2C%221.3%22%2C%221.53%22%2C%221.86%22%2C%222.3%22%2C%224.5%22%2C%226.5%22%2C%229.3%22%2C%2213.2%22%2C%2217.2%22%2C%2219%22%2C%2220%22%5D%2C%22smooth%22%3Atrue%7D%2C%7B%22name%22%3A%22plainframe-color-positive-%22%2C%22colorKeys%22%3A%5B%22%2336bf6a%22%2C%22%23007b3f%22%2C%22%2300b05d%22%5D%2C%22colorspace%22%3A%22LAB%22%2C%22ratios%22%3A%5B%221.05%22%2C%221.1%22%2C%221.3%22%2C%221.53%22%2C%221.86%22%2C%222.3%22%2C%224.5%22%2C%226.5%22%2C%229.3%22%2C%2213.2%22%2C%2217.2%22%2C%2219%22%2C%2220%22%5D%2C%22smooth%22%3Atrue%7D%5D%2C%22lightness%22%3A98%2C%22contrast%22%3A0.48%2C%22saturation%22%3A100%2C%22formula%22%3A%22wcag2%22%7D
*/

:root {
    font-size: 14px;

    /*--plainframe-font-family: 'Kode Mono', monospace;*/
    /*--plainframe-font-family: 'Atkinson Hyperlegible Mono', monospace;*/
    --plainframe-font-family: "Google Sans Code", monospace;
    /*--plainframe-font-family: 'Source Code Pro', monospace;*/
    --plainframe-aspect-ratio: 1.25;

    --plainframe-size-regular-100: 0.5rem;
    --plainframe-size-regular-200: 0.563rem;
    --plainframe-size-regular-300: 0.625rem;
    --plainframe-size-regular-400: 0.688rem;
    --plainframe-size-regular-500: 0.813rem;
    --plainframe-size-regular-600: 0.875rem;
    --plainframe-size-regular-700: 1rem;
    --plainframe-size-regular-800: 1.125rem;
    --plainframe-size-regular-900: 1.25rem;
    --plainframe-size-regular-1000: 1.438rem;
    --plainframe-size-regular-1100: 1.625rem;
    --plainframe-size-regular-1200: 1.813rem;
    --plainframe-size-regular-1300: 2rem;

    --plainframe-size-large-100: calc(var(--plainframe-size-regular-100) * 1.7);
    --plainframe-size-large-200: calc(var(--plainframe-size-regular-200) * 1.7);
    --plainframe-size-large-300: calc(var(--plainframe-size-regular-300) * 1.7);
    --plainframe-size-large-400: calc(var(--plainframe-size-regular-400) * 1.7);
    --plainframe-size-large-500: calc(var(--plainframe-size-regular-500) * 1.7);
    --plainframe-size-large-600: calc(var(--plainframe-size-regular-600) * 1.7);
    --plainframe-size-large-700: calc(var(--plainframe-size-regular-700) * 1.7);
    --plainframe-size-large-800: calc(var(--plainframe-size-regular-800) * 1.7);
    --plainframe-size-large-900: calc(var(--plainframe-size-regular-900) * 1.7);
    --plainframe-size-large-1000:calc(var(--plainframe-size-regular-1000) * 1.7);
    --plainframe-size-large-1100:calc(var(--plainframe-size-regular-1100) * 1.7);
    --plainframe-size-large-1200:calc(var(--plainframe-size-regular-1200) * 1.7);
    --plainframe-size-large-1300:calc(var(--plainframe-size-regular-1300) * 1.7);

    --plainframe-space-medium-100: 0.5rem; /* 8px  */
    --plainframe-space-medium-200: 0.563rem; /* 9px  */
    --plainframe-space-medium-300: 0.625rem; /* 10px */
    --plainframe-space-medium-400: 0.688rem; /* 11px */
    --plainframe-space-medium-500: 0.813rem; /* 13px */
    --plainframe-space-medium-600: 0.875rem; /* 14px */
    --plainframe-space-medium-700: 1rem; /* 16px */
    --plainframe-space-medium-800: 1.125rem; /* 18px */
    --plainframe-space-medium-900: 1.25rem; /* 20px */
    --plainframe-space-medium-1000: 1.438rem; /* 23px */
    --plainframe-space-medium-1100: 1.625rem; /* 26px */
    --plainframe-space-medium-1200: 1.813rem; /* 29px */
    --plainframe-space-medium-1300: 2rem; /* 32px */

    --plainframe-radius-rectangle-100: 0.25rem; /* 4px;    */
    --plainframe-radius-rectangle-200: 0.344rem; /* 5.5px;  */
    --plainframe-radius-rectangle-300: 0.438rem; /* 7px;    */
    --plainframe-radius-rectangle-400: 0.531rem; /* 8.5px;  */
    --plainframe-radius-rectangle-500: 0.625rem; /* 10px;   */
    --plainframe-radius-rectangle-600: 0.719rem; /* 11.5px; */
    --plainframe-radius-rectangle-700: 0.813rem; /* 13px;   */
    --plainframe-radius-rectangle-800: 0.906rem; /* 14.5px; */
    --plainframe-radius-rectangle-900: 1rem; /* 16px;   */
    --plainframe-radius-rectangle-1000: 1.094rem; /* 17.5px; */
    --plainframe-radius-rectangle-1100: 1.188rem; /* 19px;   */
    --plainframe-radius-rectangle-1200: 1.281rem; /* 20.5px; */
    --plainframe-radius-rectangle-1300: 1.375rem; /* 22px;   */

    --plainframe-typography-heading-100:
    var(--plainframe-size-large-100) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-200:
    var(--plainframe-size-large-200) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-300:
    var(--plainframe-size-large-300) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-400:
    var(--plainframe-size-large-400) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-500:
    var(--plainframe-size-large-500) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-600:
    var(--plainframe-size-large-600) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-700:
    var(--plainframe-size-large-700) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-800:
    var(--plainframe-size-large-800) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-900:
    var(--plainframe-size-large-900) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-1000:
    var(--plainframe-size-large-1000) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-1100:
    var(--plainframe-size-large-1100) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-1200:
    var(--plainframe-size-large-1200) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-heading-1300:
    var(--plainframe-size-large-1300) / 1.5 var(--plainframe-font-family);

    --plainframe-typography-body-100:
        var(--plainframe-size-regular-100) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-200:
        var(--plainframe-size-regular-200) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-300:
        var(--plainframe-size-regular-300) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-400:
        var(--plainframe-size-regular-400) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-500:
        var(--plainframe-size-regular-500) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-600:
        var(--plainframe-size-regular-600) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-700:
        var(--plainframe-size-regular-700) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-800:
        var(--plainframe-size-regular-800) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-900:
        var(--plainframe-size-regular-900) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-1000:
        var(--plainframe-size-regular-1000) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-1100:
        var(--plainframe-size-regular-1100) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-1200:
        var(--plainframe-size-regular-1200) / 1.8 var(--plainframe-font-family);
    --plainframe-typography-body-1300:
        var(--plainframe-size-regular-1300) / 1.8 var(--plainframe-font-family);

    --plainframe-typography-caption-100:
    bold var(--plainframe-size-regular-100) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-200:
    bold var(--plainframe-size-regular-200) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-300:
    bold var(--plainframe-size-regular-300) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-400:
    bold var(--plainframe-size-regular-400) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-500:
    bold var(--plainframe-size-regular-500) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-600:
    bold var(--plainframe-size-regular-600) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-700:
    bold var(--plainframe-size-regular-700) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-800:
    bold var(--plainframe-size-regular-800) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-900:
    bold var(--plainframe-size-regular-900) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-1000:
    bold var(--plainframe-size-regular-1000) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-1100:
    bold var(--plainframe-size-regular-1100) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-1200:
    bold var(--plainframe-size-regular-1200) / 1.5 var(--plainframe-font-family);
    --plainframe-typography-caption-1300:
    bold var(--plainframe-size-regular-1300) / 1.5 var(--plainframe-font-family);


    color-scheme: light dark;
    --plainframe-color-canvas-100: light-dark(#fff, #000);
    --plainframe-color-canvas-200: light-dark(#fcfbfc, #111315);
    --plainframe-color-neutral-100: light-dark(#f9f8f9, #15181b);
    --plainframe-color-neutral-200: light-dark(#f5f4f6, #181a1e);
    --plainframe-color-neutral-300: light-dark(#ebebed, #21252b);
    --plainframe-color-neutral-400: light-dark(#e1e1e4, #2a2f37);
    --plainframe-color-neutral-500: light-dark(#d5d5d8, #333a44);
    --plainframe-color-neutral-600: light-dark(#c6c8cb, #3c4553);
    --plainframe-color-neutral-700: light-dark(#999ba1, #606c7e);
    --plainframe-color-neutral-800: light-dark(#80848a, #798493);
    --plainframe-color-neutral-900: light-dark(#696e74, #969eab);
    --plainframe-color-neutral-1000: light-dark(#54585f, #b6bbc5);
    --plainframe-color-neutral-1100: light-dark(#45494d, #d0d4da);
    --plainframe-color-neutral-1200: light-dark(#404247, #dbdde3);
    --plainframe-color-neutral-1300: light-dark(#3d3f43, #e1e3e8);
    --plainframe-color-tinted-100: light-dark(#f8f8f9, #12181f);
    --plainframe-color-tinted-200: light-dark(#f5f4f6, #141b23);
    --plainframe-color-tinted-300: light-dark(#eaebee, #1c2631);
    --plainframe-color-tinted-400: light-dark(#e1e2e5, #24303e);
    --plainframe-color-tinted-500: light-dark(#d3d6da, #2c3a4a);
    --plainframe-color-tinted-600: light-dark(#c5c8cd, #374657);
    --plainframe-color-tinted-700: light-dark(#969ca4, #5d6c7e);
    --plainframe-color-tinted-800: light-dark(#7e848d, #778495);
    --plainframe-color-tinted-900: light-dark(#686e76, #939ead);
    --plainframe-color-tinted-1000: light-dark(#53595f, #b4bbc6);
    --plainframe-color-tinted-1100: light-dark(#45494e, #cfd4db);
    --plainframe-color-tinted-1200: light-dark(#3f4348, #dadee4);
    --plainframe-color-tinted-1300: light-dark(#3c4044, #e1e3e8);
    --plainframe-color-primary-100: light-dark(#f4f9ff, #13181d);
    --plainframe-color-primary-200: light-dark(#eef6ff, #151b21);
    --plainframe-color-primary-300: light-dark(#daeeff, #1d262f);
    --plainframe-color-primary-400: light-dark(#c5e6ff, #24303d);
    --plainframe-color-primary-500: light-dark(#aadcff, #2a3b4c);
    --plainframe-color-primary-600: light-dark(#8dcfff, #30465d);
    --plainframe-color-primary-700: light-dark(#51a1e7, #406e9a);
    --plainframe-color-primary-800: light-dark(#4888c3, #4887c1);
    --plainframe-color-primary-900: light-dark(#41719e, #52a3ea);
    --plainframe-color-primary-1000: light-dark(#395b7c, #74c2ff);
    --plainframe-color-primary-1100: light-dark(#324a62, #a6daff);
    --plainframe-color-primary-1200: light-dark(#2f445a, #bbe3ff);
    --plainframe-color-primary-1300: light-dark(#2d4155, #c8e7ff);
    --plainframe-color-secondary-100: light-dark(#f7f8fc, #15181a);
    --plainframe-color-secondary-200: light-dark(#f2f5fb, #181a1d);
    --plainframe-color-secondary-300: light-dark(#e3ecf8, #22262a);
    --plainframe-color-secondary-400: light-dark(#d5e3f5, #2a2f35);
    --plainframe-color-secondary-500: light-dark(#c3d8f0, #333a41);
    --plainframe-color-secondary-600: light-dark(#b0cbe9, #3c4550);
    --plainframe-color-secondary-700: light-dark(#809ebe, #5a6d80);
    --plainframe-color-secondary-800: light-dark(#6d86a0, #6d85a0);
    --plainframe-color-secondary-900: light-dark(#5c6f84, #82a0c1);
    --plainframe-color-secondary-1000: light-dark(#4c5968, #9fbedf);
    --plainframe-color-secondary-1100: light-dark(#3f4954, #c0d6ef);
    --plainframe-color-secondary-1200: light-dark(#3b434d, #cedff3);
    --plainframe-color-secondary-1300: light-dark(#38404a, #d6e4f5);
    --plainframe-color-critical-100: light-dark(#fff7f6, #251312);
    --plainframe-color-critical-200: light-dark(#fff2f0, #291514);
    --plainframe-color-critical-300: light-dark(#ffe6e3, #3a1d1b);
    --plainframe-color-critical-400: light-dark(#ffdad5, #4b2322);
    --plainframe-color-critical-500: light-dark(#ffc9c3, #5d2a28);
    --plainframe-color-critical-600: light-dark(#ffb6b0, #71302f);
    --plainframe-color-critical-700: light-dark(#ff6b6a, #b84443);
    --plainframe-color-critical-800: light-dark(#e45151, #e25051);
    --plainframe-color-critical-900: light-dark(#bc4544, #ff6f6e);
    --plainframe-color-critical-1000: light-dark(#953b39, #ffa29c);
    --plainframe-color-critical-1100: light-dark(#783231, #ffc6c1);
    --plainframe-color-critical-1200: light-dark(#6e2f2e, #ffd3cf);
    --plainframe-color-critical-1300: light-dark(#682d2c, #ffdbd6);
    --plainframe-color-caution-100: light-dark(#fff9ed, #1d1710);
    --plainframe-color-caution-200: light-dark(#fff4de, #211a12);
    --plainframe-color-caution-300: light-dark(#ffeabc, #2d2317);
    --plainframe-color-caution-400: light-dark(#ffde9a, #3a2d1c);
    --plainframe-color-caution-500: light-dark(#ffcf74, #473620);
    --plainframe-color-caution-600: light-dark(#ffbc50, #564125);
    --plainframe-color-caution-700: light-dark(#d08e33, #8b632e);
    --plainframe-color-caution-800: light-dark(#ae7931, #ad7831);
    --plainframe-color-caution-900: light-dark(#8e652e, #d29033);
    --plainframe-color-caution-1000: light-dark(#71522a, #faaa3b);
    --plainframe-color-caution-1100: light-dark(#5c4426, #ffcc6c);
    --plainframe-color-caution-1200: light-dark(#533f24, #ffd98c);
    --plainframe-color-caution-1300: light-dark(#4f3c23, #ffdf9d);
    --plainframe-color-info-100: light-dark(#f6f8ff, #131820);
    --plainframe-color-info-200: light-dark(#f1f5ff, #151b24);
    --plainframe-color-info-300: light-dark(#e1edff, #1c2533);
    --plainframe-color-info-400: light-dark(#cfe3ff, #232f43);
    --plainframe-color-info-500: light-dark(#bad9ff, #293a54);
    --plainframe-color-info-600: light-dark(#a1cbff, #2f4567);
    --plainframe-color-info-700: light-dark(#5d9bfd, #416bae);
    --plainframe-color-info-800: light-dark(#4c83da, #4c82d8);
    --plainframe-color-info-900: light-dark(#426db2, #5f9dff);
    --plainframe-color-info-1000: light-dark(#39588b, #8bbeff);
    --plainframe-color-info-1100: light-dark(#32496f, #b6d6ff);
    --plainframe-color-info-1200: light-dark(#2f4364, #c7e0ff);
    --plainframe-color-info-1300: light-dark(#2d405f, #d1e4ff);
    --plainframe-color-positive-100: light-dark(#f2fbf3, #0d1a11);
    --plainframe-color-positive-200: light-dark(#ebf8ee, #0f1e13);
    --plainframe-color-positive-300: light-dark(#d8f2dd, #112a19);
    --plainframe-color-positive-400: light-dark(#c4ebcc, #12351e);
    --plainframe-color-positive-500: light-dark(#ace3b8, #134224);
    --plainframe-color-positive-600: light-dark(#8dd89f, #114f2a);
    --plainframe-color-positive-700: light-dark(#02b25e, #007b3f);
    --plainframe-color-positive-800: light-dark(#00974e, #00974e);
    --plainframe-color-positive-900: light-dark(#007e41, #00b55f);
    --plainframe-color-positive-1000: light-dark(#0b6635, #6fce89);
    --plainframe-color-positive-1100: light-dark(#11532c, #a8e1b4);
    --plainframe-color-positive-1200: light-dark(#124c29, #bce8c5);
    --plainframe-color-positive-1300: light-dark(#124927, #c8eccf);
}

body {
    font: var(--plainframe-typography-body-700);
    background-color: var(--plainframe-color-canvas-100);
}
