---

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/typography.css" />
  </head>
  <body>
      <slot />
  </body>
</html>

<style is:global>


html, body {
    margin: 0;
    padding: 0;
}

</style>
